<div class="container rounded bg-white mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-3 me-4">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                    alt="Profile Picture">
                <span class="font-weight-bold">Edogaru</span>
                <span class="text-black-50">edoga.com.my</span>
                <span></span>
            </div>
        </div>

        <div class="col-md-5">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Paramètres du profil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Prénom</label>
                        <input type="text" class="form-control" placeholder="prénom" value="">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Nom</label>
                        <input type="text" class="form-control" placeholder="nom de famille" value="">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Numéro de téléphone</label>
                        <input type="text" class="form-control" placeholder="entrez le numéro de téléphone" value="">
                    </div>

                    <div class="col-md-12">
                        <label class="labels">Adresse email</label>
                        <input type="text" class="form-control" placeholder="entrez l'adresse email" value="">
                    </div>
                </div>

                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button">Enregistrer le profil</button>
                </div>
            </div>
        </div>
    </div>
</div>